@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One:wght@700&family=Poppins:wght@200;600&family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color:#d7d7d7;
  scroll-behavior: smooth;
  font-family: 'Pacifico', cursive;
  font-family: 'Passion One', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
